<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->
    </div>
    <div class="col-md-10">
      <!--Body content-->

      <ul class="apps">
        <li ng-repeat="app in apps"
            class="thumbnail phone-listing">
          <a target="_blank" href="{{app.appUrl}}" class="thumb" style="background-image: url({{app.imageUrl}})"></a>
          <a target="_blank" href="{{app.appUrl}}">{{app.name}}</a>
          <p>{{app.description}}</p>
          <a target="_blank" href="{{app.appUrl}}">应用地址</a><br/>
          <a target="_blank" href="{{app.backupUrl}}" style="display: {{app.backupUrl!=null?'block':'none'}}">备用地址（如果github被墙或速度很慢的话）</a><br/>
          <a target="_blank" href="{{app.githubUrl}}">github项目地址</a><br/>
        </li>
      </ul>

    </div>
  </div>
</div>
